h1 {
  background-color: black;
  padding: 70px;
  font-family: arial;
  font-size: 4em;
  margin: 0;
  display: inline-block;
  border-radius: 9px;
  width: 140px;
  text-align: center;
}

section.wrapper {
  height: 100vh;
  padding: 60px;
  overflow: hidden;
  box-sizing: border-box;
}

span.metric {
  margin: 3px;
  padding: 4px 9px;
  border-radius: 4px;
  display: inline-block;
}
